/* 이게 CSS주석처리임 */
    /*선택자{속성명:속성값;}
    선택자{속성명:속성값; 속성명:속성값;}
    
    선택자 적용 속성이 중복일떄 우선순위 아이디 > 클래스명 > 마크업 > *(일반적으로 기본 베이스잡을때 많이씀)  
    -코드 작성순서대로 하향식으로 아래에있는 코드가 최종 적용이됨
    */
/*1.전체선택자*/

*{color: red;  }
h4{color: yellow;}

/*2.마크업 선택자  (속성이 중복일때 마크업 선택자 먼저)*/


/*3.클래스 선택자 ,복수 : 여러 마크업들이 동일한 클래스명 갖음(중복 o)* .은 클래스임/
.area1{color: blue;}
/*4. 아이디 선택자 , 단일: 여러 마크업들이 동일한 id명을 갖지못함 단일 id명을 갖음(중복x )*/
#area2{color: green;}

.area3{color: black;}
#area4{color:pink;}

/*5.복수 선택자 여러개의 선택자를 한번에 꾸밀 수 있음  */
h5,h6,.area3{color: brown;}

/*6. 자식(하위) 선택자 */
div> h3{ /* div 마크업 바로 하위에있는 항목인 h3 마크업 선택 */
    color: aqua;
}
div >.area5{
    color:purple;
}
div h3{
    color: black;     /*div 마크업 안에 있는 모든 h3 마크업 선택 */}